.manifest-dev-tool/
.mbed
.mbedbuild
.vscode/
anjay-mbed-fota/mbed-cloud-client/
anjay-mbedos/
BUILD/
cmake_build/
GettingStarted.html
mbed_config.h
mbed-bootloader-bin/
mbed-bootloader/
mbed-os/
X_NUCLEO_IKS01A2/
